body.lyf-d205f28767a5 a
/* a,
body.lyf-d205f28767a5 a > *,
body.lyf-d205f28767a5 a:link
a:visited,
a:hover,
a:active,
a:focus */
{
  color: unset !important;
  text-decoration: unset !important;
  background: unset !important;
  box-shadow: unset !important;
  border: unset !important;
  cursor: unset !important;
}
